openapi: 3.0.0
info:
  version: 1.0.0
  title: ipaas-availability-fhir-eapi-spec
servers:
  - url: https://availability-fhir.5dwjf9.spirehealthcare.com/v1
    description: Production
  - url: https://pre-prod-availability-fhir.zhhb6n.spirehealthcare.com/v1
    description: Pre-Production
  - url: https://qa-availability-fhir.zhhb6n.spirehealthcare.com/v1
    description: qa
  - url: https://dev-availability-fhir.zhhb6n.spirehealthcare.com/v1
    description: dev
tags:
  - name: Availability
paths:
  /health-check:
    get:
      operationId: getApiHeartbeat
      summary: API Heartbeat
      description: API Heartbeat
      responses:
        '200':
          description: .
          headers:
            Content-Security-Policy:
              $ref: '#/components/headers/Content-Security-Policy'
            X-Content-Type-Options:
              $ref: '#/components/headers/X-Content-Type-Options'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Referrer-Policy:
              $ref: '#/components/headers/Referrer-Policy'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app-status-response'
              examples:
                success:
                  $ref: '#/components/examples/api_status_response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /Slot:
    get:
      operationId: getSlots
      summary: Get Slots
      description: Get Available appointment Slots for Consultants and GPs
      parameters:
        - $ref: '#/components/parameters/PractitionerCode'
        - $ref: '#/components/parameters/SpecialityCode'
        - $ref: '#/components/parameters/TreatmentCode'
        - $ref: '#/components/parameters/LocationId'
        - $ref: '#/components/parameters/PractitionerGender'
        - $ref: '#/components/parameters/Dates'
        - $ref: '#/components/parameters/AppointmentType'
        - $ref: '#/components/parameters/CYPEnabled'
        - $ref: '#/components/parameters/Insurer'
      responses:
        '200':
          description: .
          headers:
            Content-Security-Policy:
              $ref: '#/components/headers/Content-Security-Policy'
            X-Content-Type-Options:
              $ref: '#/components/headers/X-Content-Type-Options'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Referrer-Policy:
              $ref: '#/components/headers/Referrer-Policy'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          description: Bad request (missing headers, structural issues).
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            Content-Security-Policy:
              $ref: '#/components/headers/Content-Security-Policy'
            X-Content-Type-Options:
              $ref: '#/components/headers/X-Content-Type-Options'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Referrer-Policy:
              $ref: '#/components/headers/Referrer-Policy'
          content:
            application/json:
              examples:
                badRequest:
                  $ref: '#/components/examples/400_invalid_input_parameter_badrequest'
                invalidDateRange:
                  $ref: '#/components/examples/400_invalid_date_range'
        '401':
          description: Unauthenticated (OAuth2 / mTLS failure).
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            Content-Security-Policy:
              $ref: '#/components/headers/Content-Security-Policy'
            X-Content-Type-Options:
              $ref: '#/components/headers/X-Content-Type-Options'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Referrer-Policy:
              $ref: '#/components/headers/Referrer-Policy'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              examples:
                authError:
                  $ref: '#/components/examples/401_authentication_error'
        '403':
          description: Forbidden (insufficient scopes or policy).
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            Content-Security-Policy:
              $ref: '#/components/headers/Content-Security-Policy'
            X-Content-Type-Options:
              $ref: '#/components/headers/X-Content-Type-Options'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Referrer-Policy:
              $ref: '#/components/headers/Referrer-Policy'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              examples:
                forbiddenError:
                  $ref: '#/components/examples/403_forbidden_error'
        '500':
          description: Server error.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            Content-Security-Policy:
              $ref: '#/components/headers/Content-Security-Policy'
            X-Content-Type-Options:
              $ref: '#/components/headers/X-Content-Type-Options'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Referrer-Policy:
              $ref: '#/components/headers/Referrer-Policy'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              examples:
                internalServerError:
                  $ref: '#/components/examples/500_internal_server_error-2'
        '503':
          description: Connectivity error.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            Content-Security-Policy:
              $ref: '#/components/headers/Content-Security-Policy'
            X-Content-Type-Options:
              $ref: '#/components/headers/X-Content-Type-Options'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Referrer-Policy:
              $ref: '#/components/headers/Referrer-Policy'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              examples:
                connectivityError:
                  $ref: '#/components/examples/503_connectivity_error'
        '504':
          description: Timeout error.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            Content-Security-Policy:
              $ref: '#/components/headers/Content-Security-Policy'
            X-Content-Type-Options:
              $ref: '#/components/headers/X-Content-Type-Options'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Referrer-Policy:
              $ref: '#/components/headers/Referrer-Policy'
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              examples:
                timeOutError:
                  $ref: '#/components/examples/504_request_timed_out'
components:
  headers:
    X-Correlation-Id:
      description: Used for request correlation and distributed tracing across APIs.
      schema:
        type: string
      example: a6107d66-9e2e-49d0-89b4-3d472932eff3
    Content-Security-Policy:
      description: Prevents the page from being framed and restricts content sources
      schema:
        type: string
      example: frame-ancestors 'none'; default-src 'self'
    X-Content-Type-Options:
      description: Prevents MIME type sniffing
      schema:
        type: string
      example: nosniff
    Cache-Control:
      description: Prevents caching of responses
      schema:
        type: string
      example: no-store
    Referrer-Policy:
      description: Controls how much referrer information is sent
      schema:
        type: string
      example: strict-origin-when-cross-origin
  schemas:
    OperationOutcome:
      type: object
      description: |
        A collection of error, warning or information messages that result from a system action.
        Elements defined in Ancestors: id, meta, implicitRules, language, text, contained, extension, modifierExtension
      allOf:
        - $ref: '#/components/schemas/DomainResource-2'
      properties:
        resourceType:
          type: string
          description: This is a OperationOutcome resource
          enum:
            - OperationOutcome
        issue:
          type: array
          description: An error, warning or information message that results from a system action.
          items:
            $ref: '#/components/schemas/OperationOutcome_Issue'
          minItems: 1
      required:
        - resourceType
        - issue
    Bundle:
      type: object
      allOf:
        - $ref: '#/components/schemas/Bundle-2'
      properties:
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Entry'
    Entry:
      type: object
      properties:
        fullUrl:
          type: string
          description: URN/URL unique within the Bundle (e.g. urn:uuid:pat-aaaa)
        resource:
          anyOf:
            - allOf:
                - $ref: '#/components/schemas/Slot-2'
                - type: object
                  properties:
                    resourceType:
                      type: string
                      enum:
                        - Slot
                  required:
                    - resourceType
            - allOf:
                - $ref: '#/components/schemas/Schedule-2'
                - type: object
                  properties:
                    resourceType:
                      type: string
                      enum:
                        - Schedule
                  required:
                    - resourceType
            - allOf:
                - $ref: '#/components/schemas/Location-3'
                - type: object
                  properties:
                    resourceType:
                      type: string
                      enum:
                        - Location
                  required:
                    - resourceType
            - allOf:
                - $ref: '#/components/schemas/HealthcareService-3'
                - type: object
                  properties:
                    resourceType:
                      type: string
                      enum:
                        - HealthcareService
                  required:
                    - resourceType
            - allOf:
                - $ref: '#/components/schemas/Practitioner-2'
                - type: object
                  properties:
                    resourceType:
                      type: string
                      enum:
                        - Practitioner
                  required:
                    - resourceType
            - allOf:
                - $ref: '#/components/schemas/Organization-3'
                - type: object
                  properties:
                    resourceType:
                      type: string
                      enum:
                        - Organization
                  required:
                    - resourceType
          discriminator:
            propertyName: resourceType
            mapping:
              Slot: '#/components/schemas/Slot-2'
              Schedule: '#/components/schemas/Schedule-2'
              Location: '#/components/schemas/Location-3'
              HealthcareService: '#/components/schemas/HealthcareService-3'
              Practitioner: '#/components/schemas/Practitioner-2'
              Organization: '#/components/schemas/Organization-3'
      required:
        - resource
    app-status-response:
      description: API health Check response
      type: object
      properties:
        name:
          description: Name of the API
          type: string
        status:
          description: API status
          type: string
        timestamp:
          description: Timestamp
          type: string
        hostname:
          description: API Hostname
          type: string
        businessGroupId:
          description: The ID uniquely identifies each business group in MuleSoft
          type: string
        environmentId:
          description: the Environment ID is the unique identifier for an environment (e.g., Sandbox, Design, Production)
          type: string
        ip:
          description: IP address
          type: string
        node:
          description: Node number
          type: string
        muleVersion:
          description: Mule Version
          type: string
        javaVersion:
          description: Java Version
          type: string
        cpu:
          description: Number of CPU allocated
          type: string
        memory:
          description: Memory Allocated.
          type: string
    ErrorResponse:
      description: The Data format for API Fault Responses
      type: object
      properties:
        header:
          type: object
          required:
            - transactionId
            - messageId
            - creationDateTimeStamp
            - uniqueIdentifier
          properties:
            transactionId:
              type: string
              description: Unique flow transaction identifier (UUID)
            messageId:
              type: string
              description: Unique message identifier (UUID)
            creationDateTimeStamp:
              type: string
              format: date-time
            uniqueIdentifier:
              type: string
        eventDetail:
          type: array
          items:
            type: object
            required:
              - errorItemType
              - errorCode
              - errorMessage
              - errorDetail
            properties:
              errorItemType:
                type: string
                enum:
                  - ERROR
                  - VALIDATION
              errorCode:
                type: string
              errorMessage:
                type: string
              errorDetail:
                type: string
      required:
        - header
        - eventDetail
    id:
      type: string
      pattern: ^[A-Za-z0-9\-\.]{1,64}$
      description: |
        Any combination of upper or lower case ASCII letters ('A'..'Z', and 'a'..'z', numerals ('0'..'9'), '-' and '.', with a length limit of 64 characters.
        (This might be an integer, an un-prefixed OID, UUID or any other identifier pattern that meets these constraints.)      
    enumvalueInteger:
      type: object
      properties:
        valueInteger:
          description: Value of extension.
          type: integer
    decimal:
      description: |
        Rational numbers that have a decimal representation. See below about the precision of the number.
        Regex: -?(0|[1-9][0-9]*)(\.[0-9]+)?([eE][+-]?[0-9]+)?
      type: number
    enumvalueDecimal:
      type: object
      properties:
        valueDecimal:
          description: Value of extension.
          $ref: '#/components/schemas/decimal'
    dateTime:
      type: string
      pattern: ^[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
      description: |
        A date, date-time or partial date (e.g. just year or year + month) as used in human communication. If hours and minutes are specified, a time zone SHALL be populated.
        Seconds must be provided due to schema type constraints but may be zero-filled and may be ignored. Dates SHALL be valid dates. The time "24:00" is not allowed      
    enumvalueDateTime:
      type: object
      properties:
        valueDateTime:
          description: Value of extension.
          $ref: '#/components/schemas/dateTime'
    date:
      type: string
      pattern: ^[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1]))?)?$
      description: |
        A date, or partial date (e.g. just year or year + month) as used in human communication. There is no time zone. Dates SHALL be valid dates
      example: '1970-08-07'
    enumvalueDate:
      type: object
      properties:
        valueDate:
          description: Value of extension.
          $ref: '#/components/schemas/date'
    instant:
      type: string
      pattern: ^[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))))$
      description: |
        An instant in time - known at least to the second and always includes a time zone.
        Note: This is intended for precisely observed times (typically system logs etc.), and not human-reported times - for them, use date and dateTime. instant is a more constrained dateTime.
        Note: This type is for system times, not human times (see date and dateTime).      
    enumvalueInstant:
      type: object
      properties:
        valueInstant:
          description: Value of extension.
          $ref: '#/components/schemas/instant'
    enumvalueString:
      type: object
      properties:
        valueString:
          description: Value of extension.
          type: string
    uri:
      description: |
        A Uniform Resource Identifier Reference (see: https://tools.ietf.org/html/rfc3986).
        Note: URIs are case sensitive. For UUID (urn:uuid:53fefa32-fcbb-4ff8-8a92-55ee120877b7) use all lowercase.
        URIs can be absolute or relative, and may have an optional fragment identifier.
        Regex: \S*
      type: string
    enumvalueUri:
      type: object
      properties:
        valueUri:
          description: Value of extension.
          $ref: '#/components/schemas/uri'
    enumvalueBoolean:
      type: object
      properties:
        valueBoolean:
          description: Value of extension.
          type: boolean
    code:
      type: string
      pattern: ^[^\s]+([\s]+[^\s]+)*
      description: |
        Indicates that the value is taken from a set of controlled strings defined elsewhere (see Using codes for further discussion).
        Technically, a code is restricted to a string which has at least one character and no leading or trailing whitespace, and where there is no whitespace other than single spaces in the contents.      
    enumvalueCode:
      type: object
      properties:
        valueCode:
          description: Value of extension.
          $ref: '#/components/schemas/code'
    base64Binary:
      type: string
      pattern: (\s*([0-9a-zA-Z\+\=]){4}\s*)+
      description: |
        There is no specified upper limit to the size of a binary, but systems will have to impose some implementation based limit to the size they support. This should be clearly documented, though there is no computable for this at this time    
    enumvalueBase64Binary:
      type: object
      properties:
        valueBase64Binary:
          description: Value of extension.
          $ref: '#/components/schemas/base64Binary'
    Extension:
      description: |
        Optional Extensions Element + Rule Must have either extensions or value[x], not both Elements defined in Ancestors id, extension
      type: object
      allOf:
        - $ref: '#/components/schemas/enumvalueInteger'
        - $ref: '#/components/schemas/enumvalueDecimal'
        - $ref: '#/components/schemas/enumvalueDateTime'
        - $ref: '#/components/schemas/enumvalueDate'
        - $ref: '#/components/schemas/enumvalueInstant'
        - $ref: '#/components/schemas/enumvalueString'
        - $ref: '#/components/schemas/enumvalueUri'
        - $ref: '#/components/schemas/enumvalueBoolean'
        - $ref: '#/components/schemas/enumvalueCode'
        - $ref: '#/components/schemas/enumvalueBase64Binary'
        - $ref: '#/components/schemas/enumvalueCoding'
        - $ref: '#/components/schemas/enumvalueCodeableConcept'
        - $ref: '#/components/schemas/enumvalueAttachment'
        - $ref: '#/components/schemas/enumvalueIdentifier'
        - $ref: '#/components/schemas/enumvalueQuantity'
        - $ref: '#/components/schemas/enumvalueRange'
        - $ref: '#/components/schemas/enumvaluePeriod'
        - $ref: '#/components/schemas/enumvalueRatio'
        - $ref: '#/components/schemas/enumvalueHumanName'
        - $ref: '#/components/schemas/enumvalueAddress'
        - $ref: '#/components/schemas/enumvalueContactPoint'
        - $ref: '#/components/schemas/enumvalueReference'
        - $ref: '#/components/schemas/enumvalueCanonical'
        - $ref: '#/components/schemas/enumvalueId'
        - $ref: '#/components/schemas/enumvalueMarkdown'
        - $ref: '#/components/schemas/enumvalueOid'
        - $ref: '#/components/schemas/enumvaluePositiveInt'
        - $ref: '#/components/schemas/enumvalueTime'
        - $ref: '#/components/schemas/enumvalueUnsignedInt'
        - $ref: '#/components/schemas/enumvalueUrl'
        - $ref: '#/components/schemas/enumvalueUuid'
        - $ref: '#/components/schemas/enumvalueAge'
        - $ref: '#/components/schemas/enumvalueAnnotation'
        - $ref: '#/components/schemas/enumvalueCount'
        - $ref: '#/components/schemas/enumvalueDistance'
        - $ref: '#/components/schemas/enumvalueDuration'
        - $ref: '#/components/schemas/enumvalueMoney'
        - $ref: '#/components/schemas/enumvalueSampledData'
        - $ref: '#/components/schemas/enumvalueSignature'
        - $ref: '#/components/schemas/enumvalueTiming'
        - $ref: '#/components/schemas/enumvalueContactDetail'
        - $ref: '#/components/schemas/enumvalueContributor'
        - $ref: '#/components/schemas/enumvalueDataRequirement'
        - $ref: '#/components/schemas/enumvalueExpression'
        - $ref: '#/components/schemas/enumvalueParameterDefinition'
        - $ref: '#/components/schemas/enumvalueRelatedArtifact'
        - $ref: '#/components/schemas/enumvalueTriggerDefinition'
        - $ref: '#/components/schemas/enumvalueUsageContext'
        - $ref: '#/components/schemas/enumvalueDosage'
        - $ref: '#/components/schemas/enumvalueMeta'
      properties:
        extension:
          $ref: '#/components/schemas/extension'
        url:
          description: identifies the meaning of the extension
          type: string
        id:
          description: Internal id
          pattern: ^[A-Za-z0-9\-\.]{1,64}$
          type: string
      required:
        - url
    Coding:
      description: |
        A Coding is a representation of a defined concept using a symbol from a defined "code system".
        See http://hl7.org/fhir/STU3/terminologies.html for more details.
      type: object
      properties:
        id:
          description: Internal id
          $ref: '#/components/schemas/id'
        extension:
          description: |
            Additional Content defined by implementations - from Element: extension (recursive)
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        system:
          description: Identity of the terminology system
          $ref: '#/components/schemas/uri'
        version:
          description: Version of the system - if relevant
          type: string
        code:
          description: Symbol in syntax defined by the system
          $ref: '#/components/schemas/code'
        display:
          description: Representation defined by the system
          type: string
        userSelected:
          type: boolean
    enumvalueCoding:
      type: object
      properties:
        valueCoding:
          description: Value of extension.
          $ref: '#/components/schemas/Coding'
    CodeableConcept:
      description: |
        A CodeableConcept represents a value that is usually supplied by providing a reference to one or more terminologies or ontologies, but may also be defined by the provision of text.
        This is a common pattern in healthcare data.
      type: object
      properties:
        id:
          description: Internal id
          $ref: '#/components/schemas/id'
        extension:
          description: |
            Additional Content defined by implementations - from Element: extension (recursive)
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        coding:
          description: Code defined by a terminology system
          type: array
          items:
            $ref: '#/components/schemas/Coding'
        text:
          description: Plain text representation of the concept
          type: string
    enumvalueCodeableConcept:
      type: object
      properties:
        valueCodeableConcept:
          description: Value of extension.
          $ref: '#/components/schemas/CodeableConcept'
    Element:
      type: object
      properties:
        id:
          description: Internal id
          $ref: '#/components/schemas/id'
        extension:
          description: |
            Additional Content defined by implementations - from Element: extension (recursive)
          type: array
          items:
            $ref: '#/components/schemas/Extension'
    unsignedInt:
      type: integer
      minimum: 0
      description: Any non-negative integer (e.g. >= 0) Regex - [0]|([1-9][0-9]*)
    Attachment:
      description: |
        This type is for containing or referencing attachments - additional data content defined in other formats.
        The most common use of this type is to include images or reports in some report format such as PDF.
        However it can be used for any data that has a MIME type.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        contentType:
          description: Mime type of the content, with charset etc.
          $ref: '#/components/schemas/code'
        language:
          description: Human language of the content (BCP-47)
          $ref: '#/components/schemas/code'
        data:
          description: Data inline, base64ed
          $ref: '#/components/schemas/base64Binary'
        url:
          description: Uri where the data can be found
          $ref: '#/components/schemas/uri'
        size:
          description: Number of bytes of content (if url provided)
          $ref: '#/components/schemas/unsignedInt'
        hash:
          description: Hash of the data (sha-1, base64ed)
          $ref: '#/components/schemas/base64Binary'
        title:
          description: Label to display in place of the data
          type: string
        creation:
          description: Date attachment was first created
          $ref: '#/components/schemas/dateTime'
    enumvalueAttachment:
      type: object
      properties:
        valueAttachment:
          description: Value of extension.
          $ref: '#/components/schemas/Attachment'
    Period:
      description: A time period defined by a start and end date/time.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        start:
          description: Starting time with inclusive boundary
          $ref: '#/components/schemas/dateTime'
        end:
          description: End time with inclusive boundary, if not ongoing
          $ref: '#/components/schemas/dateTime'
    assigner:
      description: Organization that issued id (may be just text)
      type: object
      properties:
        reference:
          description: Literal reference, Relative, internal or absolute URL
          type: string
        extension:
          $ref: '#/components/schemas/Extension'
        identifier:
          description: Logical reference, when literal reference is not known
          type: object
          properties:
            use:
              description: usual | official | temp | secondary (If known)
              pattern: ^[^\s]+([\s]+[^\s]+)*$
              enum:
                - usual
                - official
                - temp
                - secondary
                - old
              type: string
            type:
              description: Description of identifier
              type: object
              properties:
                extension:
                  $ref: '#/components/schemas/Extension'
                id:
                  description: Internal id
                  pattern: ^[A-Za-z0-9\-\.]{1,64}$
                  type: string
                coding:
                  description: Code defined by a terminology system
                  type: array
                  items:
                    $ref: '#/components/schemas/Coding'
                text:
                  description: Plain text representation of the concept
                  type: string
            system:
              description: The namespace for the identifier value
              type: string
            value:
              description: The value that is unique
              type: string
            period:
              description: Time period when id is/was valid for use
              type: object
              properties:
                extension:
                  $ref: '#/components/schemas/Extension'
                id:
                  description: Internal id
                  pattern: ^[A-Za-z0-9\-\.]{1,64}$
                  type: string
                start:
                  description: Starting time with inclusive boundary
                  pattern: ^[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
                  type: string
                end:
                  description: End time with inclusive boundary, if not ongoing
                  pattern: ^[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
                  type: string
            assigner:
              $ref: '#/components/schemas/assigner'
        id:
          description: Internal id
          pattern: ^[A-Za-z0-9\-\.]{1,64}$
          type: string
        display:
          description: Text alternative for the resource
          type: string
        type:
          description: Type the reference refers to (e.g. "Patient")
          type: string
    Identifier:
      description: |
        A numeric or alphanumeric string that is associated with a single object or entity within a given system.
        Typically, identifiers are used to connect content in resources to external content available in other frameworks or protocols.
        Identifiers are associated with objects, and may be changed or retired due to human or system process and errors.
      type: object
      properties:
        use:
          description: usual | official | temp | secondary (If known)
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - usual
                - official
                - temp
                - secondary
                - old
        type:
          description: Description of identifier
          $ref: '#/components/schemas/CodeableConcept'
        system:
          description: The namespace for the identifier value
          $ref: '#/components/schemas/uri'
        value:
          description: The value that is unique
          type: string
        period:
          description: Time period when id is/was valid for use
          $ref: '#/components/schemas/Period'
        assigner:
          description: Organization that issued id (may be just text)
          $ref: '#/components/schemas/assigner'
    enumvalueIdentifier:
      type: object
      properties:
        valueIdentifier:
          description: Value of extension.
          $ref: '#/components/schemas/Identifier'
    Quantity:
      description: A measured amount (or an amount that can potentially be measured).
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        value:
          description: Numerical value (with implicit precision)
          $ref: '#/components/schemas/decimal'
        comparator:
          description: how to understand the value
          type: string
          enum:
            - <
            - <=
            - '>='
            - '>'
        unit:
          description: Unit representation
          type: string
        system:
          description: System that defines coded unit form
          $ref: '#/components/schemas/uri'
        code:
          description: Coded form of the unit
          $ref: '#/components/schemas/code'
    enumvalueQuantity:
      type: object
      properties:
        valueQuantity:
          description: Value of extension.
          $ref: '#/components/schemas/Quantity'
    Range:
      description: A set of ordered Quantity values defined by a low and high limit.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        low:
          description: Low limit
          $ref: '#/components/schemas/Quantity'
        high:
          description: High limit
          $ref: '#/components/schemas/Quantity'
    enumvalueRange:
      type: object
      properties:
        valueRange:
          description: Value of extension.
          $ref: '#/components/schemas/Range'
    enumvaluePeriod:
      type: object
      properties:
        valuePeriod:
          description: Value of extension.
          $ref: '#/components/schemas/Period'
    Ratio:
      description: A relationship between two Quantity values expressed as a numerator and a denominator.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        numerator:
          description: Numerator value
          $ref: '#/components/schemas/Quantity'
        denominator:
          description: Denominator value
          $ref: '#/components/schemas/Quantity'
    enumvalueRatio:
      type: object
      properties:
        valueRatio:
          description: Value of extension.
          $ref: '#/components/schemas/Ratio'
    HumanName:
      description: |
        A name of a human with text, parts and usage information.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        use:
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - usual
                - official
                - temp
                - nickname
                - anonymous
                - old
                - maiden
        text:
          description: Text representation of the full name
          type: string
        family:
          description: Family name (often called 'Surname')
          type: string
        given:
          description: Given names (not always 'first'). Includes middle names
          type: array
          items:
            type: string
        prefix:
          description: Parts that come before the name
          type: array
          items:
            type: string
        suffix:
          description: Parts that come after the name
          type: array
          items:
            type: string
        period:
          description: Time period when name was/is in use
          $ref: '#/components/schemas/Period'
    enumvalueHumanName:
      type: object
      properties:
        valueHumanName:
          description: Value of extension.
          $ref: '#/components/schemas/HumanName'
    Address:
      description: |
        An address expressed using postal conventions (as opposed to GPS or other location definition formats).
        This data type may be used to convey addresses for use in delivering mail as well as for visiting locations which might not be valid for mail delivery.
        There are a variety of postal address formats defined around the world.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        use:
          description: home | work | temp | old - purpose of this address
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - home
                - work
                - temp
                - old
                - billing
        type:
          description: address type
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - postal
                - physical
                - both
        text:
          description: Text representation of the address
          type: string
        line:
          description: Street name, number, direction & P.O. Box etc.
          type: array
          items:
            type: string
        city:
          description: Name of city, town etc.
          type: string
        district:
          description: District name (aka county)
          type: string
        state:
          description: Sub-unit of country (abbreviations ok)
          type: string
        postalCode:
          description: Postal code for area
          type: string
        country:
          description: Country (e.g. can be ISO 3166 2 or 3 letter code)
          type: string
        period:
          description: Time period when address was/is in use
          $ref: '#/components/schemas/Period'
    enumvalueAddress:
      type: object
      properties:
        valueAddress:
          description: Value of extension.
          $ref: '#/components/schemas/Address'
    positiveInt:
      type: integer
      minimum: 1
      description: Any positive integer (e.g. >= 1) Regex - +?[1-9][0-9]*
    ContactPoint:
      description: |
        Details for all kinds of technology-mediated contact points for a person or organization, including telephone, email, etc.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        system:
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - phone
                - fax
                - email
                - sms
                - pager
                - url
                - other
        value:
          description: The actual contact point details
          type: string
        use:
          description: purpose of this contact point
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - home
                - work
                - temp
                - old
                - mobile
        rank:
          description: Specify preferred order of use (1 = highest)
          $ref: '#/components/schemas/positiveInt'
        period:
          description: Time period when the contact point was/is in use
          $ref: '#/components/schemas/Period'
    enumvalueContactPoint:
      type: object
      properties:
        valueContactPoint:
          description: Value of extension.
          $ref: '#/components/schemas/ContactPoint'
    Reference:
      description: Many of the defined elements in a resource are references to other resources. Using these references, the resources combine to build a web of information about healthcare.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        reference:
          description: Literal reference, Relative, internal or absolute URL
          type: string
        identifier:
          description: Logical reference, when literal reference is not known
          $ref: '#/components/schemas/Identifier'
        display:
          description: Text alternative for the resource
          type: string
        type:
          description: Type the reference refers to (e.g. "Patient")
          $ref: '#/components/schemas/uri'
    enumvalueReference:
      type: object
      properties:
        valueReference:
          description: Value of extension.
          $ref: '#/components/schemas/Reference'
    enumvalueCanonical:
      type: object
      properties:
        valueCanonical:
          description: Value of Extension
          $ref: '#/components/schemas/uri'
    enumvalueId:
      type: object
      properties:
        valueId:
          description: Value of Extension
          $ref: '#/components/schemas/id'
    markdown:
      type: string
      pattern: \s*(\S|\s)*
      description: A FHIR string (see above) that may contain markdown syntax for optional processing by a markdown presentation engine, in the GFM extension of CommonMark format
    enumvalueMarkdown:
      type: object
      properties:
        valueMarkdown:
          description: Value of Extension
          $ref: '#/components/schemas/markdown'
    oid:
      type: string
      pattern: urn:oid:[0-2](\.(0|[1-9][0-9]*))+
      description: |
        An OID represented as a URI (RFC 3001 ); e.g. urn:oid:1.2.3.4.5      
    enumvalueOid:
      type: object
      properties:
        valueOid:
          description: Value of Extension
          $ref: '#/components/schemas/oid'
    enumvaluePositiveInt:
      type: object
      properties:
        valuePositiveInt:
          description: Value of Extension
          $ref: '#/components/schemas/positiveInt'
    time:
      type: string
      pattern: ([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?
      description: |
        A time during the day, with no date specified (can be converted to a Duration since midnight).
        Seconds must be provided due to schema type constraints but may be zero-filled and may be ignored.
        The time "24:00" is not allowed, and neither is a time zone.      
    enumvalueTime:
      type: object
      properties:
        valueTime:
          description: Value of Extension
          $ref: '#/components/schemas/time'
    enumvalueUnsignedInt:
      type: object
      properties:
        valueUnsignedInt:
          description: Value of Extension
          $ref: '#/components/schemas/unsignedInt'
    url:
      description: |
        A Uniform Resource Locator (RFC 1738 ). Note URLs are accessed directly using the specified protocol. Common URL protocols are http{s}:, ftp:, mailto: and mllp:, though many others are defined.
      type: string
    enumvalueUrl:
      type: object
      properties:
        valueUrl:
          description: Value of Extension
          $ref: '#/components/schemas/url'
    uuid:
      type: string
      pattern: urn:uuid:^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
      description: |
        A UUID (aka GUID) represented as a URI (RFC 4122 ); e.g. urn:uuid:c757873d-ec9a-4326-a141-556f43239520      
    enumvalueUuid:
      type: object
      properties:
        valueUuid:
          description: Value of Extension
          $ref: '#/components/schemas/uuid'
    enumvalueAge:
      type: object
      properties:
        valueAge:
          description: Value of Extension
          $ref: '#/components/schemas/Quantity'
    annotationauthorReference:
      type: object
      properties:
        authorReference:
          description: Individual responsible for the annotation.
          $ref: '#/components/schemas/Reference'
    annotationauthorString:
      type: object
      properties:
        authorString:
          description: Individual responsible for the annotation.
          type: string
    Annotation:
      description: A text note which also contains information about who made the statement and when.
      allOf:
        - $ref: '#/components/schemas/Element'
        - $ref: '#/components/schemas/annotationauthorReference'
        - $ref: '#/components/schemas/annotationauthorString'
      type: object
      properties:
        time:
          description: When the annotation was made
          $ref: '#/components/schemas/dateTime'
        text:
          description: The annotation  - text content
          type: string
    enumvalueAnnotation:
      type: object
      properties:
        valueAnnotation:
          description: Value of Extension
          $ref: '#/components/schemas/Annotation'
    enumvalueCount:
      type: object
      properties:
        valueCount:
          description: Value of Extension
          $ref: '#/components/schemas/Quantity'
    enumvalueDistance:
      type: object
      properties:
        valueDistance:
          description: Value of Extension
          $ref: '#/components/schemas/Quantity'
    enumvalueDuration:
      type: object
      properties:
        valueDuration:
          description: Value of Extension
          $ref: '#/components/schemas/Quantity'
    Money:
      description: |
        An amount of economic utility in some recognized currency Elements defined in Ancestors: id, extension
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        value:
          description: Numerical value (with implicit precision)
          $ref: '#/components/schemas/decimal'
        currency:
          description: ISO 4217 Currency Code
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - AED
                - AFN
                - ALL
                - AMD
                - ANG
                - AOA
                - ARS
                - AUD
                - AWG
                - AZN
                - BAM
                - BBD
                - BDT
                - BGN
                - BHD
                - BIF
                - BMD
                - BND
                - BOB
                - BOV
                - BRL
                - BSD
                - BTN
                - BWP
                - BYN
                - BZD
                - CAD
                - CDF
                - CHE
                - CHF
                - CHW
                - CLF
                - CLP
                - CNY
                - COP
                - COU
                - CRC
                - CUC
                - CUP
                - CVE
                - CZK
                - DJF
                - DKK
                - DOP
                - DZD
                - EGP
                - ERN
                - ETB
                - EUR
                - FJD
                - FKP
                - GBP
                - GEL
                - GGP
                - GHS
                - GIP
                - GMD
                - GNF
                - GTQ
                - GYD
                - HKD
                - HNL
                - HRK
                - HTG
                - HUF
                - IDR
                - ILS
                - IMP
                - INR
                - IQD
                - IRR
                - ISK
                - JEP
                - JMD
                - JOD
                - JPY
                - KES
                - KGS
                - KHR
                - KMF
                - KPW
                - KRW
                - KWD
                - KYD
                - KZT
                - LAK
                - LBP
                - LKR
                - LRD
                - LSL
                - LYD
                - MAD
                - MDL
                - MGA
                - MKD
                - MMK
                - MNT
                - MOP
                - MRU
                - MUR
                - MVR
                - MWK
                - MXN
                - MXV
                - MYR
                - MZN
                - NAD
                - NGN
                - NIO
                - NOK
                - NPR
                - NZD
                - OMR
                - PAB
                - PEN
                - PGK
                - PHP
                - PKR
                - PLN
                - PYG
                - QAR
                - RON
                - RSD
                - RUB
                - RWF
                - SAR
                - SBD
                - SCR
                - SDG
                - SEK
                - SGD
                - SHP
                - SLL
                - SOS
                - SRD
                - SSP
                - STN
                - SVC
                - SYP
                - SZL
                - THB
                - TJS
                - TMT
                - TND
                - TOP
                - TRY
                - TTD
                - TVD
                - TWD
                - TZS
                - UAH
                - UGX
                - USD
                - USN
                - UYI
                - UYU
                - UZS
                - VEF
                - VND
                - VUV
                - WST
                - XAF
                - XAG
                - XAU
                - XBA
                - XBB
                - XBC
                - XBD
                - XCD
                - XDR
                - XOF
                - XPD
                - XPF
                - XPT
                - XSU
                - XTS
                - XUA
                - XXX
                - YER
                - ZAR
                - ZMW
                - ZWL
    enumvalueMoney:
      type: object
      properties:
        valueMoney:
          description: Value of Extension
          $ref: '#/components/schemas/Money'
    SampledData:
      description: A series of measurements taken by a device
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        origin:
          description: Zero value and units
          $ref: '#/components/schemas/Quantity'
        period:
          description: Number of milliseconds between samples
          $ref: '#/components/schemas/decimal'
        factor:
          description: Multiply data by this before adding to origin
          $ref: '#/components/schemas/decimal'
        lowerLimit:
          description: Lower limit of detection
          $ref: '#/components/schemas/decimal'
        upperLimit:
          description: Upper limit of detection
          $ref: '#/components/schemas/decimal'
        dimensions:
          description: Number of sample points at each time point
          $ref: '#/components/schemas/positiveInt'
        data:
          description: Decimal values with spaces, or "E" | "U" | "L"
          type: string
          enum:
            - E
            - U
            - L
      required:
        - origin
        - period
        - dimensions
    enumvalueSampledData:
      type: object
      properties:
        valueSampledData:
          description: Value of Extension
          $ref: '#/components/schemas/SampledData'
    Signature:
      description: |
        A Signature holds an electronic representation of a signature and its supporting context in a FHIR accessible form.
        The signature may either be a cryptographic type (XML DigSig or a JWT), which is able to provide non-repudiation proof, or it may be a graphical image that represents a signature or a signature process.
      type: object
      properties:
        type:
          description: Indication of the reason the entity signed the object(s)
          type: array
          items:
            $ref: '#/components/schemas/Coding'
        when:
          description: When the signature was created
          $ref: '#/components/schemas/instant'
        who:
          description: Who signed
          $ref: '#/components/schemas/Reference'
        onBehalfOf:
          description: The party represented
          $ref: '#/components/schemas/Reference'
        targetFormat:
          description: The technical format of the signed resources
          $ref: '#/components/schemas/code'
        sigFormat:
          description: The technical format of the signature
          $ref: '#/components/schemas/code'
        data:
          description: The actual signature content (XML DigSig. JWT, picture, etc.)
          $ref: '#/components/schemas/base64Binary'
      required:
        - type
        - when
        - who
    enumvalueSignature:
      type: object
      properties:
        valueSignature:
          description: Value of Extension
          $ref: '#/components/schemas/Signature'
    UnitOfTime:
      description: A unit of time (UCUM)
      allOf:
        - $ref: '#/components/schemas/code'
        - enum:
            - s
            - min
            - h
            - d
            - wk
            - mo
            - a
    Timing:
      description: |
        Specifies an event that may occur multiple times.
        Timing schedules are used for specifying when events are expected or requested to occur, and may also be used to represent a schedule that was followed for past events.
        A Timing schedule can be a list of events and/or criteria for when the event happens, which can be expressed in a structured form and/or as a code. When both event and a repeating specification are provided, the list of events should be understood as an interpretation of the information in the repeat structure.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        event:
          description: When the event occurs
          type: array
          items:
            $ref: '#/components/schemas/dateTime'
        repeat:
          description: When the event is to occur
          allOf:
            - $ref: '#/components/schemas/Element'
          type: object
          properties:
            boundsDuration:
              description: Length/Range of lengths, or (Start and/or end) limits
              $ref: '#/components/schemas/Quantity'
            boundsRange:
              description: Length/Range of lengths, or (Start and/or end) limits
              $ref: '#/components/schemas/Range'
            boundsPeriod:
              description: Length/Range of lengths, or (Start and/or end) limits
              $ref: '#/components/schemas/Period'
            count:
              description: Number of times to repeat
              $ref: '#/components/schemas/positiveInt'
            countMax:
              description: Maximum number of times to repeat
              $ref: '#/components/schemas/positiveInt'
            duration:
              description: How long when it happens
              $ref: '#/components/schemas/decimal'
            durationMax:
              description: How long when it happens (Max)
              $ref: '#/components/schemas/decimal'
            durationUnit:
              description: s | min | h | d | wk | mo | a - unit of time (UCUM)
              $ref: '#/components/schemas/UnitOfTime'
            frequency:
              description: Event occurs frequency times per period
              $ref: '#/components/schemas/positiveInt'
            frequencyMax:
              description: Event occurs up to frequencyMax times per period
              $ref: '#/components/schemas/positiveInt'
            period:
              description: Event occurs frequency times per period
              $ref: '#/components/schemas/decimal'
            periodMax:
              description: Upper limit of period (3-4 hours)
              $ref: '#/components/schemas/decimal'
            periodUnit:
              description: s | min | h | d | wk | mo | a - unit of time (UCUM)
              allOf:
                - $ref: '#/components/schemas/code'
                - enum:
                    - s
                    - min
                    - h
                    - d
                    - wk
                    - mo
                    - a
            dayOfWeek:
              description: mon | tue | wed | thu | fri | sat | sun
              type: array
              items:
                type: string
                enum:
                  - mon
                  - tue
                  - wed
                  - thu
                  - fri
                  - sat
                  - sun
            timeOfDay:
              description: Time of day for action
              type: array
              items:
                $ref: '#/components/schemas/time'
            when:
              description: Regular life events the event is tied to
              type: array
              items:
                type: string
                enum:
                  - HS
                  - WAKE
                  - C
                  - CM
                  - CD
                  - CV
                  - AC
                  - ACM
                  - ACD
                  - ACV
                  - PC
                  - PCM
                  - PCD
                  - PCV
                  - MORN
                  - MORN.early
                  - MORN.late
                  - NOON
                  - AFT
                  - AFT.early
                  - AFT.late
                  - EVE
                  - EVE.early
                  - EVE.late
                  - NIGHT
                  - PHS
            offset:
              description: Minutes from event (before or after)
              $ref: '#/components/schemas/unsignedInt'
        code:
          description: BID | TID | QID | AM | PM | QD | QOD | Q1H | Q2H | Q3H | Q4H | Q6H | Q8H | BED | WK | MO
          $ref: '#/components/schemas/CodeableConcept'
    enumvalueTiming:
      type: object
      properties:
        valueTiming:
          description: Value of Extension
          $ref: '#/components/schemas/Timing'
    ContactDetail:
      description: |
        Contact information Elements defined in Ancestors: id, extension
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        name:
          description: Name of an individula to contact
          type: string
        telecom:
          description: Contact details for individual or organization
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
    enumvalueContactDetail:
      type: object
      properties:
        valueContactDetail:
          description: Value of Extension
          $ref: '#/components/schemas/ContactDetail'
    Contributor:
      description: Contributor information Elements defined in Ancestors id, extension
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        type:
          description: author | editor | reviewer | endorser
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - author
                - editor
                - reviewer
                - endorser
        name:
          description: Who contributed the content
          type: string
        contact:
          description: Contact details of the contributor
          type: string
    enumvalueContributor:
      type: object
      properties:
        valueContributor:
          description: Value of Extension
          $ref: '#/components/schemas/Contributor'
    dataRequirementssubjectCodeableConcept:
      type: object
      properties:
        subjectCodeableConcept:
          description: E.g. Patient, Practitioner, RelatedPerson, Organization, Location, Device
          $ref: '#/components/schemas/CodeableConcept'
    dataRequirementssubjectReference:
      type: object
      properties:
        subjectReference:
          description: E.g. Patient, Practitioner, RelatedPerson, Organization, Location, Device
          $ref: '#/components/schemas/Reference'
    DataRequirement:
      description: Describes a required data item Elements defined in Ancestors id, extension
      allOf:
        - $ref: '#/components/schemas/Element'
        - $ref: '#/components/schemas/dataRequirementssubjectCodeableConcept'
        - $ref: '#/components/schemas/dataRequirementssubjectReference'
      type: object
      properties:
        type:
          description: The type of the required data
          $ref: '#/components/schemas/code'
        profile:
          description: The profile of the required data
          type: array
          items:
            $ref: '#/components/schemas/uri'
        mustSupport:
          description: Indicates specific structure elements that are referenced by the knowledge module
          type: array
          items:
            type: string
        codeFilter:
          description: What codes are expected + Rule Either a path or a searchParam must be provided, but not both
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Element'
            type: object
            properties:
              path:
                description: A code-valued attribute to filter on
                type: string
              searchParam:
                description: A coded (token) parameter to search on
                type: string
              valueSet:
                description: Valueset for the filter
                $ref: '#/components/schemas/uri'
              code:
                description: What code is expected
                type: array
                items:
                  $ref: '#/components/schemas/Coding'
        dateFilter:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Element'
              - $ref: '#/components/schemas/enumvalueDateTime'
              - $ref: '#/components/schemas/enumvaluePeriod'
              - $ref: '#/components/schemas/enumvalueDuration'
            type: object
            properties:
              path:
                description: A date-valued attribute to filter on
                type: string
              searchParam:
                description: A date valued parameter to search on
                type: string
        limit:
          description: Number of results
          $ref: '#/components/schemas/positiveInt'
        sort:
          description: Order of the results
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Element'
            type: object
            properties:
              path:
                description: The name of the attribute to perform the sort
                type: string
              direction:
                description: ascending | descending
                allOf:
                  - $ref: '#/components/schemas/code'
                  - enum:
                      - ascending
                      - descending
            required:
              - direction
              - path
      required:
        - type
    enumvalueDataRequirement:
      type: object
      properties:
        valueDataRequirement:
          description: Value of Extension
          $ref: '#/components/schemas/DataRequirement'
    Expression:
      description: |
        An expression that can be used to generate a value
        + Rule: An expression or a reference must be provided
        Elements defined in Ancestors: id, extension
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        description:
          description: Natural language description of the condition
          type: string
        name:
          description: Short name assigned to expression for reuse
          $ref: '#/components/schemas/id'
        language:
          description: text/cql | text/fhirpath | application/x-fhir-query
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - text/cql
                - text/fhirpath
                - application/x-fhir-query
        expression:
          description: Expression in specified language
          type: string
        reference:
          description: Where the expression is found
          $ref: '#/components/schemas/uri'
    enumvalueExpression:
      type: object
      properties:
        valueExpression:
          description: Value of Extension
          $ref: '#/components/schemas/Expression'
    ParameterDefinition:
      description: |
        Definition of a parameter to a module
        Elements defined in Ancestors: id, extension
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        name:
          description: Name used to access the parameter value
          $ref: '#/components/schemas/code'
        use:
          description: in | out
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - in
                - out
        min:
          description: Minimum cardinality
          type: integer
        max:
          description: Maximum cardinality (a number of *)
          type: string
        documentation:
          description: A brief description of the parameter
          type: string
        type:
          $ref: '#/components/schemas/code'
        profile:
          description: What profile the value is expected to be
          $ref: '#/components/schemas/uri'
    enumvalueParameterDefinition:
      type: object
      properties:
        valueParameterDefinition:
          description: Value of Extension
          $ref: '#/components/schemas/ParameterDefinition'
    RelatedArtifact:
      description: |
        Related artifacts for a knowledge resource
        Elements defined in Ancestors: id, extension
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        type:
          description: documentation | justification | citation | predecessor | successor | derived-from | depends-on | composed-of
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - documentation
                - justification
                - citation
                - predecessor
                - successor
                - derived-from
                - depends-on
                - composed-of
        label:
          description: Short label
          type: string
        display:
          description: Brief description of the related artifact
          type: string
        citation:
          description: Bibliographic citation for the artifact
          $ref: '#/components/schemas/markdown'
        url:
          description: Where the artifact can be accessed
          $ref: '#/components/schemas/url'
        document:
          description: What document is being referenced
          $ref: '#/components/schemas/Attachment'
        resource:
          description: What resource is being referenced
          $ref: '#/components/schemas/uri'
    enumvalueRelatedArtifact:
      type: object
      properties:
        valueRelatedArtifact:
          description: Value of Extension
          $ref: '#/components/schemas/RelatedArtifact'
    triggerDefinitiontimingTiming:
      type: object
      properties:
        timingTiming:
          description: Timing of the event
          $ref: '#/components/schemas/Timing'
    triggerDefinitiontimingReference:
      type: object
      properties:
        timingReference:
          description: Timing of the event
          $ref: '#/components/schemas/Reference'
    triggerDefinitiontimingDate:
      type: object
      properties:
        timingDate:
          description: Timing of the event
          $ref: '#/components/schemas/date'
    triggerDefinitiontimingDateTime:
      type: object
      properties:
        timingDateTime:
          description: Timing of the event
          $ref: '#/components/schemas/dateTime'
    TriggerDefinition:
      description: |
        Defines an expected trigger for a module Rule Either timing, or a data requirement, but not both + Rule A condition only if there is a data requirement + Rule A named event requires a name, a periodic event requires timing, and a data event requires data Elements defined in Ancestors id, extension
      allOf:
        - $ref: '#/components/schemas/Element'
        - $ref: '#/components/schemas/triggerDefinitiontimingTiming'
        - $ref: '#/components/schemas/triggerDefinitiontimingReference'
        - $ref: '#/components/schemas/triggerDefinitiontimingDate'
        - $ref: '#/components/schemas/triggerDefinitiontimingDateTime'
      type: object
      properties:
        type:
          description: named-event | periodic | data-changed | data-added | data-modified | data-removed | data-accessed | data-access-ended
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - named-event
                - periodic
                - data-changed
                - data-added
                - data-modified
                - data-removed
                - data-accessed
                - data-access-ended
        name:
          description: Name or URI that identifies the event
          type: string
        data:
          description: Triggering data of the event (multiple = 'and')
          type: array
          items:
            $ref: '#/components/schemas/DataRequirement'
        condition:
          description: Whether the event triggers (boolean expression)
          $ref: '#/components/schemas/Expression'
    enumvalueTriggerDefinition:
      type: object
      properties:
        valueTriggerDefinition:
          description: Value of Extension
          $ref: '#/components/schemas/TriggerDefinition'
    UsageContext:
      description: Describes the context of use for a conformance or knowledge resource Elements defined in Ancestors id, extension
      allOf:
        - $ref: '#/components/schemas/Element'
        - $ref: '#/components/schemas/enumvalueCodeableConcept'
        - $ref: '#/components/schemas/enumvalueQuantity'
        - $ref: '#/components/schemas/enumvalueRange'
        - $ref: '#/components/schemas/enumvalueReference'
      type: object
      properties:
        code:
          description: Type of context being specified
          $ref: '#/components/schemas/Coding'
    enumvalueUsageContext:
      type: object
      properties:
        valueUsageContext:
          description: Value of Extension
          $ref: '#/components/schemas/UsageContext'
    BackboneElement:
      type: object
      properties:
        id:
          description: Internal id
          $ref: '#/components/schemas/id'
        extension:
          description: |
            Additional Content defined by implementations - from Element: extension (recursive)
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        modifierExtension:
          description: Modifier Extensions
          type: array
          items:
            $ref: '#/components/schemas/Extension'
    dosageAsNeededBoolean:
      type: object
      properties:
        asNeededBoolean:
          description: Take "as needed"
          type: boolean
    dosageAsNeededCodeableConcept:
      type: object
      properties:
        asNeededCodeableConcept:
          description: Take "as needed"
          $ref: '#/components/schemas/CodeableConcept'
    dosageRateRatio:
      type: object
      properties:
        rateRatio:
          description: Amount of medication per unit of timen
          $ref: '#/components/schemas/Ratio'
    dosageRateRange:
      type: object
      properties:
        rateRange:
          description: Amount of medication per unit of time
          $ref: '#/components/schemas/Range'
    dosageRateQuantity:
      type: object
      properties:
        rateQuantity:
          description: Amount of medication per unit of time
          $ref: '#/components/schemas/Quantity'
    Dosage:
      description: How the medication is/was taken or should be taken
      allOf:
        - $ref: '#/components/schemas/BackboneElement'
        - $ref: '#/components/schemas/dosageAsNeededBoolean'
        - $ref: '#/components/schemas/dosageAsNeededCodeableConcept'
      type: object
      properties:
        sequence:
          description: The order of the dosage instructions
          type: integer
        text:
          description: Free text dosage instructions e.g. SIG
          type: string
        additionalInstruction:
          description: Supplemental instruction - e.g. "with meals"
          type: array
          items:
            $ref: '#/components/schemas/CodeableConcept'
        patientInstruction:
          description: Patient or consumer oriented instructions
          type: string
        timing:
          description: When medication should be administered
          $ref: '#/components/schemas/Timing'
        site:
          description: Body site to administer to
          $ref: '#/components/schemas/CodeableConcept'
        route:
          description: How drug should enter body
          $ref: '#/components/schemas/CodeableConcept'
        method:
          description: Technique for administering medication
          $ref: '#/components/schemas/CodeableConcept'
        doseAndRate:
          type: array
          items:
            type: object
            allOf:
              - $ref: '#/components/schemas/Element'
              - $ref: '#/components/schemas/dosageRateRatio'
              - $ref: '#/components/schemas/dosageRateRange'
              - $ref: '#/components/schemas/dosageRateQuantity'
            properties:
              type:
                description: The kind of dose or rate specified
                $ref: '#/components/schemas/CodeableConcept'
        maxDosePerPeriod:
          description: Upper limit on medication per unit of time
          $ref: '#/components/schemas/Ratio'
        maxDosePerAdministration:
          description: Upper limit on medication per administration
          $ref: '#/components/schemas/Quantity'
        maxDosePerLifetime:
          description: Upper limit on medication per lifetime of the patient
          $ref: '#/components/schemas/Quantity'
    enumvalueDosage:
      type: object
      properties:
        valueDosage:
          description: Value of Extension
          $ref: '#/components/schemas/Dosage'
    Meta:
      description: |
        Each resource contains an element "meta", of type "Meta", which is a set of metadata that provides technical and workflow context to the resource.
        The metadata items are all optional, though some or all of them may be required in particular implementations or contexts of use.
      allOf:
        - $ref: '#/components/schemas/Element'
      type: object
      properties:
        versionId:
          description: Version specific identifier
          $ref: '#/components/schemas/id'
        lastUpdated:
          description: When the resource version last changed
          $ref: '#/components/schemas/instant'
        source:
          description: Identifies where the resource comes from
          $ref: '#/components/schemas/uri'
        profile:
          description: Profiles this resource claims to conform to
          type: array
          items:
            $ref: '#/components/schemas/uri'
        security:
          description: Security Labels applied to this resource
          type: array
          items:
            $ref: '#/components/schemas/Coding'
        tag:
          description: Tags applied to this resource
          type: array
          items:
            $ref: '#/components/schemas/Coding'
    enumvalueMeta:
      type: object
      properties:
        valueMeta:
          description: Value of Extension
          $ref: '#/components/schemas/Meta'
    extension:
      description: |
        Additional Content defined by implementations - from Element: extension (recursive)
      type: array
      items:
        $ref: '#/components/schemas/Extension'
    Resource:
      description: Base Resource
      type: object
      properties:
        id:
          description: Logical id of this artifact
          $ref: '#/components/schemas/id'
        meta:
          description: Metadata about the resource
          $ref: '#/components/schemas/Meta'
        implicitRules:
          description: A set of rules under which this content was created
          $ref: '#/components/schemas/uri'
        language:
          description: |
            Language of the resource content.
            Supported languages can be found at: https://www.hl7.org/fhir/valueset-languages.html
          $ref: '#/components/schemas/code'
    Entry-2:
      description: |
        Entry in the bundle - will have a resource or information
        + Rule: must be a resource unless there's a request or response
        + Rule: fullUrl cannot be a version specific reference
        This repeating element order: For bundles of type 'document' and 'message', the first resource is special (must be Composition or MessageHeader respectively). For all bundles, the meaning of the order of entries depends on the bundle type
      type: object
      properties:
        id:
          description: Internal id
          $ref: '#/components/schemas/id'
        extension:
          description: |
            Additional Content defined by implementations - from Element: extension (recursive)
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        modifierExtension:
          description: Modifier Extensions
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        link:
          description: Links related to this entry
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/BackboneElement'
            type: object
            properties:
              relation:
                description: See http://www.iana.org/assignments/link-relations/link-relations.xhtml#link-relations-1
                type: string
              url:
                description: Reference details for the link
                $ref: '#/components/schemas/uri'
        resource:
          description: A resource in the bundle
          $ref: '#/components/schemas/Resource'
        fullUrl:
          description: URI for resource (Absolute URL server address or URI for UUID/OID)
          $ref: '#/components/schemas/uri'
        search:
          description: Search related information
          allOf:
            - $ref: '#/components/schemas/BackboneElement'
          type: object
          properties:
            mode:
              description: match | include | outcome - why this is in the result set
              allOf:
                - $ref: '#/components/schemas/code'
                - enum:
                    - match
                    - include
                    - outcome
            score:
              description: Search ranking (between 0 and 1)
              $ref: '#/components/schemas/decimal'
        request:
          description: Additional execution information (transaction/batch/history)
          allOf:
            - $ref: '#/components/schemas/BackboneElement'
          type: object
          properties:
            method:
              description: GET | HEAD | POST | PUT | DELETE | PATCH
              allOf:
                - $ref: '#/components/schemas/code'
                - enum:
                    - GET
                    - PUT
                    - POST
                    - DELETE
                    - HEAD
                    - PATCH
            url:
              description: URL for HTTP equivalent of this entry
              $ref: '#/components/schemas/uri'
            ifNoneMatch:
              description: For managing cache currency
              type: string
            ifModifiedSince:
              description: For managing cache currency
              $ref: '#/components/schemas/instant'
            ifMatch:
              description: For managing update contention
              type: string
            ifNoneExist:
              description: For conditional creates
              type: string
        response:
          description: Results of execution (transaction/batch/history)
          allOf:
            - $ref: '#/components/schemas/BackboneElement'
          type: object
          properties:
            status:
              description: Status response code (text optional)
              type: string
            location:
              description: The location (if the operation returns a location)
              $ref: '#/components/schemas/uri'
            etag:
              description: The Etag for the resource (if relevant)
              type: string
            lastModified:
              description: Server's date time modified
              $ref: '#/components/schemas/instant'
            outcome:
              description: OperationOutcome with hints and warnings (for batch/transaction)
              $ref: '#/components/schemas/Resource'
    Bundle-2:
      description: |
        Contains a collection of resources
        + Rule: total only when a search or history
        + Rule: entry.search only when a search
        + Rule: entry.request mandatory for batch/transaction/history, otherwise prohibited
        + Rule: entry.response mandatory for batch-response/transaction-response/history, otherwise prohibited
        + Rule: FullUrl must be unique in a bundle, or else entries with the same fullUrl must have different meta.versionId (except in history bundles)
        + Rule: A document must have an identifier with a system and a value
        + Rule: A document must have a date
        + Rule: A document must have a Composition as the first resource
        + Rule: A message must have a MessageHeader as the first resource
        Elements defined in Ancestors: id, meta, implicitRules, language
      allOf:
        - $ref: '#/components/schemas/Resource'
      type: object
      properties:
        identifier:
          description: Persistent identifier for the bundle
          $ref: '#/components/schemas/Identifier'
        type:
          description: document | message | transaction | transaction-response | batch | batch-response | history | searchset | collection
          allOf:
            - $ref: '#/components/schemas/code'
            - enum:
                - document
                - message
                - transaction
                - transaction-response
                - batch
                - batch-response
                - history
                - searchset
                - collection
        timestamp:
          description: When the bundle was assembled
          $ref: '#/components/schemas/instant'
        total:
          description: If search, the total number of matches
          $ref: '#/components/schemas/unsignedInt'
        link:
          description: Links related to this Bundle
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/BackboneElement'
            type: object
            properties:
              relation:
                description: See http://www.iana.org/assignments/link-relations/link-relations.xhtml#link-relations-1
                type: string
              url:
                description: Reference details for the link
                $ref: '#/components/schemas/uri'
        entry:
          description: |
            Entry in the bundle - will have a resource or information
            + Rule: must be a resource unless there's a request or response
            + Rule: fullUrl cannot be a version specific reference
            This repeating element order: For bundles of type 'document' and 'message', the first resource is special (must be Composition or MessageHeader respectively). For all bundles, the meaning of the order of entries depends on the bundle type
          type: array
          items:
            $ref: '#/components/schemas/Entry-2'
        signature:
          description: Digital Signature
          $ref: '#/components/schemas/Signature'
    extension-2:
      description: |
        Additional Content defined by implementations - from Element: extension (recursive)
      type: array
      items:
        $ref: '#/components/schemas/extension-2'
    Extension-2:
      description: |
        Optional Extensions Element + Rule Must have either extensions or value[x], not both Elements defined in Ancestors id, extension
      type: object
      properties:
        extension:
          $ref: '#/components/schemas/extension-2'
        url:
          description: identifies the meaning of the extension
          type: string
        id:
          description: Internal id
          pattern: ^[A-Za-z0-9\-\.]{1,64}$
          type: string
        value:
          description: Value of extension
          x-annotation-amf-union:
            - $ref: '#/components/schemas/enumvalueInteger'
            - $ref: '#/components/schemas/enumvalueDecimal'
            - $ref: '#/components/schemas/enumvalueDateTime'
            - $ref: '#/components/schemas/enumvalueDate'
            - $ref: '#/components/schemas/enumvalueInstant'
            - $ref: '#/components/schemas/enumvalueString'
            - $ref: '#/components/schemas/enumvalueUri'
            - $ref: '#/components/schemas/enumvalueBoolean'
            - $ref: '#/components/schemas/enumvalueCode'
            - $ref: '#/components/schemas/enumvalueBase64Binary'
            - $ref: '#/components/schemas/enumvalueCoding'
            - $ref: '#/components/schemas/enumvalueCodeableConcept'
            - $ref: '#/components/schemas/enumvalueAttachment'
            - $ref: '#/components/schemas/enumvalueIdentifier'
            - $ref: '#/components/schemas/enumvalueQuantity'
            - $ref: '#/components/schemas/enumvalueRange'
            - $ref: '#/components/schemas/enumvaluePeriod'
            - $ref: '#/components/schemas/enumvalueRatio'
            - $ref: '#/components/schemas/enumvalueHumanName'
            - $ref: '#/components/schemas/enumvalueAddress'
            - $ref: '#/components/schemas/enumvalueContactPoint'
            - $ref: '#/components/schemas/enumvalueReference'
            - $ref: '#/components/schemas/enumvalueCanonical'
            - $ref: '#/components/schemas/enumvalueId'
            - $ref: '#/components/schemas/enumvalueMarkdown'
            - $ref: '#/components/schemas/enumvalueOid'
            - $ref: '#/components/schemas/enumvaluePositiveInt'
            - $ref: '#/components/schemas/enumvalueTime'
            - $ref: '#/components/schemas/enumvalueUnsignedInt'
            - $ref: '#/components/schemas/enumvalueUrl'
            - $ref: '#/components/schemas/enumvalueUuid'
            - $ref: '#/components/schemas/enumvalueAge'
            - $ref: '#/components/schemas/enumvalueAnnotation'
            - $ref: '#/components/schemas/enumvalueCount'
            - $ref: '#/components/schemas/enumvalueDistance'
            - $ref: '#/components/schemas/enumvalueDuration'
            - $ref: '#/components/schemas/enumvalueMoney'
            - $ref: '#/components/schemas/enumvalueSampledData'
            - $ref: '#/components/schemas/enumvalueSignature'
            - $ref: '#/components/schemas/enumvalueTiming'
            - $ref: '#/components/schemas/enumvalueContactDetail'
            - $ref: '#/components/schemas/enumvalueContributor'
            - $ref: '#/components/schemas/enumvalueDataRequirement'
            - $ref: '#/components/schemas/enumvalueExpression'
            - $ref: '#/components/schemas/enumvalueParameterDefinition'
            - $ref: '#/components/schemas/enumvalueRelatedArtifact'
            - $ref: '#/components/schemas/enumvalueTriggerDefinition'
            - $ref: '#/components/schemas/enumvalueUsageContext'
            - $ref: '#/components/schemas/enumvalueDosage'
            - $ref: '#/components/schemas/enumvalueMeta'
          type: string
      required:
        - url
    Element-2:
      type: object
      properties:
        id:
          description: Internal id
          $ref: '#/components/schemas/id'
        extension:
          description: |
            Additional Content defined by implementations - from Element: extension (recursive)
          type: array
          items:
            $ref: '#/components/schemas/Extension-2'
    Coding-2:
      description: |
        A Coding is a representation of a defined concept using a symbol from a defined "code system".
        See http://hl7.org/fhir/STU3/terminologies.html for more details.
      type: object
      properties:
        id:
          description: Internal id
          $ref: '#/components/schemas/id'
        extension:
          description: |
            Additional Content defined by implementations - from Element: extension (recursive)
          type: array
          items:
            $ref: '#/components/schemas/Extension-2'
        system:
          description: Identity of the terminology system
          $ref: '#/components/schemas/uri'
        version:
          description: Version of the system - if relevant
          type: string
        code:
          description: Symbol in syntax defined by the system
          $ref: '#/components/schemas/code'
        display:
          description: Representation defined by the system
          type: string
        userSelected:
          type: boolean
    Meta-2:
      description: |
        Each resource contains an element "meta", of type "Meta", which is a set of metadata that provides technical and workflow context to the resource.
        The metadata items are all optional, though some or all of them may be required in particular implementations or contexts of use.
      allOf:
        - $ref: '#/components/schemas/Element-2'
      type: object
      properties:
        versionId:
          description: Version specific identifier
          $ref: '#/components/schemas/id'
        lastUpdated:
          description: When the resource version last changed
          $ref: '#/components/schemas/instant'
        source:
          description: Identifies where the resource comes from
          $ref: '#/components/schemas/uri'
        profile:
          description: Profiles this resource claims to conform to
          type: array
          items:
            $ref: '#/components/schemas/uri'
        security:
          description: Security Labels applied to this resource
          type: array
          items:
            $ref: '#/components/schemas/Coding-2'
        tag:
          description: Tags applied to this resource
          type: array
          items:
            $ref: '#/components/schemas/Coding-2'
    xhtml:
      description: |
        Limited xhtml content (Escaped XHTML)
      type: string
    Narrative:
      type: object
      description: |
        Any resource that is a DomainResource (almost all types of resource) may include a human-readable narrative that contains a summary of the resource,
        and may be used to represent the content of the resource to a human.
      properties:
        status:
          enum:
            - generated
            - extensions
            - additional
            - empty
          $ref: '#/components/schemas/code'
        div:
          description: Limited xhtml content
          $ref: '#/components/schemas/xhtml'
      required:
        - status
        - div
    Resource-2:
      description: Base Resource
      type: object
      properties:
        id:
          description: Logical id of this artifact
          $ref: '#/components/schemas/id'
        meta:
          description: Metadata about the resource
          $ref: '#/components/schemas/Meta-2'
        implicitRules:
          description: A set of rules under which this content was created
          $ref: '#/components/schemas/uri'
        language:
          description: |
            Language of the resource content.
            Supported languages can be found at: https://www.hl7.org/fhir/valueset-languages.html
          $ref: '#/components/schemas/code'
    DomainResource:
      description: |
        A resource with narrative, extensions, and contained resources
        + If the resource is contained in another resource, it SHALL NOT contain nested Resources
        + If the resource is contained in another resource, it SHALL NOT contain any narrative
        + If a resource is contained in another resource, it SHALL NOT have a meta.versionId or a meta.lastUpdated
        + If the resource is contained in another resource, it SHALL be referred to from elsewhere in the resource
      type: object
      properties:
        id:
          description: Logical id of this artifact
          $ref: '#/components/schemas/id'
        meta:
          description: Metadata about the resource
          $ref: '#/components/schemas/Meta-2'
        implicitRules:
          description: A set of rules under which this content was created
          $ref: '#/components/schemas/uri'
        language:
          description: |
            Language of the resource content.
            Supported languages can be found at: https://www.hl7.org/fhir/valueset-languages.html
          $ref: '#/components/schemas/code'
        text:
          description: Text summary of the resource, for human interpretation
          $ref: '#/components/schemas/Narrative'
        contained:
          description: Contained, inline Resources
          type: array
          items:
            $ref: '#/components/schemas/Resource-2'
        extension:
          description: Additional Content defined by implementations
          type: array
          items:
            $ref: '#/components/schemas/Extension-2'
        modifierExtension:
          description: Extensions that cannot be ignored
          type: array
          items:
            $ref: '#/components/schemas/Extension-2'
    CodeableConcept-2:
      description: |
        A CodeableConcept represents a value that is usually supplied by providing a reference to one or more terminologies or ontologies, but may also be defined by the provision of text.
        This is a common pattern in healthcare data.
      type: object
      properties:
        id:
          description: Internal id
          $ref: '#/components/schemas/id'
        extension:
          description: |
            Additional Content defined by implementations - from Element: extension (recursive)
          type: array
          items:
            $ref: '#/components/schemas/Extension-2'
        coding:
          description: Code defined by a terminology system
          type: array
          items:
            $ref: '#/components/schemas/Coding-2'
        text:
          description: Plain text representation of the concept
          type: string
    Period-2:
      description: A time period defined by a start and end date/time.
      allOf:
        - $ref: '#/components/schemas/Element-2'
      type: object
      properties:
        start:
          description: Starting time with inclusive boundary
          $ref: '#/components/schemas/dateTime'
        end:
          description: End time with inclusive boundary, if not ongoing
          $ref: '#/components/schemas/dateTime'
    assigner-2:
      description: Organization that issued id (may be just text)
      type: object
      properties:
        reference:
          description: Literal reference, Relative, internal or absolute URL
          type: string
        extension:
          $ref: '#/components/schemas/Extension-2'
        identifier:
          description: Logical reference, when literal reference is not known
          type: object
          properties:
            use:
              description: usual | official | temp | secondary (If known)
              pattern: ^[^\s]+([\s]+[^\s]+)*$
              enum:
                - usual
                - official
                - temp
                - secondary
                - old
              type: string
            type:
              description: Description of identifier
              type: object
              properties:
                extension:
                  $ref: '#/components/schemas/Extension-2'
                id:
                  description: Internal id
                  pattern: ^[A-Za-z0-9\-\.]{1,64}$
                  type: string
                coding:
                  description: Code defined by a terminology system
                  type: array
                  items:
                    $ref: '#/components/schemas/Coding-2'
                text:
                  description: Plain text representation of the concept
                  type: string
            system:
              description: The namespace for the identifier value
              type: string
            value:
              description: The value that is unique
              type: string
            period:
              description: Time period when id is/was valid for use
              type: object
              properties:
                extension:
                  $ref: '#/components/schemas/Extension-2'
                id:
                  description: Internal id
                  pattern: ^[A-Za-z0-9\-\.]{1,64}$
                  type: string
                start:
                  description: Starting time with inclusive boundary
                  pattern: ^[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
                  type: string
                end:
                  description: End time with inclusive boundary, if not ongoing
                  pattern: ^[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
                  type: string
            assigner:
              $ref: '#/components/schemas/assigner-2'
        id:
          description: Internal id
          pattern: ^[A-Za-z0-9\-\.]{1,64}$
          type: string
        display:
          description: Text alternative for the resource
          type: string
        type:
          description: Type the reference refers to (e.g. "Patient")
          type: string
    Identifier-2:
      description: |
        A numeric or alphanumeric string that is associated with a single object or entity within a given system.
        Typically, identifiers are used to connect content in resources to external content available in other frameworks or protocols.
        Identifiers are associated with objects, and may be changed or retired due to human or system process and errors.
      type: object
      properties:
        use:
          description: usual | official | temp | secondary (If known)
          enum:
            - usual
            - official
            - temp
            - secondary
            - old
          $ref: '#/components/schemas/code'
        type:
          description: Description of identifier
          $ref: '#/components/schemas/CodeableConcept-2'
        system:
          description: The namespace for the identifier value
          $ref: '#/components/schemas/uri'
        value:
          description: The value that is unique
          type: string
        period:
          description: Time period when id is/was valid for use
          $ref: '#/components/schemas/Period-2'
        assigner:
          description: Organization that issued id (may be just text)
[...]
